* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.025), rgb(85, 0, 255)),url(2.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    display : flex;
    width: 90%;
    margin: auto;
    padding: 31px 0;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    cursor: pointer;
    border-radius: 75%;
}
.navbar ul li {
    list-style-type: none ;
    display: inline-block;
    margin: 0 24px;
}
.navbar ul li a {
    text-decoration: none ;
    color:white;
}
.navbar ul li a:hover{
    color:black;
    transition: 1s;

}

.content{
    width: 99%;
    position: absolute;
    top:41%;
    color:white;
    text-align: center;
}
.content h1{
    font-size: 63px;
}
.content p{
    margin: 21px auto ;

}
button{
    width: 199px;
    padding: 16px 0 ;
    border-radius: 40px;
    margin:19px;
    text-align: center;
    color:white;
    cursor:pointer;
    font-weight: 650;
    background-color: hsl(252, 16%, 43%);
    font-size: 18px;
}
button:hover{
    color:black;
    transition: 1.15s;  
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }
  
  .contact {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .contact {
      width: 80%;
    }
  }
  